@import "normalize.css";
@import "variables.css";
@import "navigation.css";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: Inter, serif;
}

h1, h2, h3, h4, h5 {
  font-family: Montserrat, serif;
}

.form-control {
  border: none;
}

.btn:focus, .form-control:focus {
  box-shadow: none;
}


.hero-section {
  background-color: var(--beige);
  height: 90vh;
}

.carousel {
  max-height: 100%;
}

.carousel img {
  position: absolute;
  right: 0;
  width: 50%;
  padding: 0;
}

.slider-prev, .slider-next, .slider-prev-icon, .slider-next-icon {
  display: none;
}

.img {
  width: 100%;
  display: block;
  height: auto;
}

.img-container {
  overflow: hidden;
}
